<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ bootstrapThemeUrl }}"
		  integrity="{{ bootstrapThemeIntegrity }}" crossorigin="anonymous">

	<link rel="stylesheet" href="/github-gist.css">
	<style>
		pre {
			/*background-color: #f6f8fa;*/
			padding: 16px;
		}
		.nobr {
			white-space: nowrap;
		}

	</style>

	<title>{{ title }}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg">
	<a class="navbar-brand" href="{{ url-home }}">{{ title }}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Packages</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/?controller=location">Location</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" target="_blank" href="{{ url-packagist }}">Packagist</a>
			</li>
		</ul>
	</div>

	<span id="build-status" class="badge badge-success" style="padding: 5px 5px 5px 5px;"></span>
	&nbsp;&nbsp;
	<button id="build-order" class="btn btn-primary btn-sm" type="button">Build</button>
</nav>
{{ breadcrumbs }}{{# error }}<div class="alert alert-danger" role="alert">{{ error }}</div>{{/ error }}
<div style="padding: 10px 10px 10px 10px;">{{ body }}</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ jQueryScriptUrl }}"></script>
<script src="{{ popperScriptUrl }}"
		integrity="{{ popperScriptIntegrity }}"
		crossorigin="anonymous"></script>
<script src="{{ bootstrapScriptUrl }}"
		integrity="{{ bootstrapScriptIntegrity }}"
		crossorigin="anonymous"></script>

<script>
	$(document).ready(function () {

		let orderUrl = '{{ url-order }}';
		let getOrderStatusUrl = '{{ url-order-status }}';

		$('#build-order').click(function () {
			$.ajax({
				url: orderUrl,
				type: "GET",
				dataType: "json",
				success: function (data) {
				}
			})
		});

		function doPoll() {
			$.ajax({
				url: getOrderStatusUrl,
				type: "GET",
				dataType: "json",
				success: function (data) {

					// Get data properties.
					let orderCount = 0;
					let isRunning = false;
					let runningTime = '';
					if (data !== undefined) {
						orderCount = data.count;
						isRunning = data.isRunning;
						runningTime = data.runningTime;
					}

					let buildText = '(' + orderCount + ') Building idle';
					let badgeClass = 'badge-success';
					if (isRunning) {
						buildText = '(' + orderCount + ') Build started at ' + runningTime + '.';
						badgeClass = 'badge-warning';
					} else {
						if (orderCount > 0) {
							buildText = '(' + orderCount + ') Build starting soon.';
							badgeClass = 'badge-info';
						}
					}

					// Update badge.
					let $buildStatus = $('#build-status');
					$buildStatus.removeClass('badge-success');
					$buildStatus.removeClass('badge-info');
					$buildStatus.removeClass('badge-warning');
					$buildStatus.addClass(badgeClass);
					$buildStatus.text(buildText);

					setTimeout(doPoll, 1000);
				}
			});

		}

		doPoll();
	});
</script>
</body>
</html>
